{% extends "base.html" %}

{% block content %}
    <h1 style="text-align: center;">Lista de Eventos</h1>

    <form method="get" action='{% url 'lista_eventos' %}'>
      <label for="status">Status: </label>
      <select name="status" id="status">
        <option value="">Todos</option>
        <option value="P">Pentende</option>
        <option value="A">Em andamento</option>
        <option value="C">Concluido</option>
      </select>
      <button type="submit">Filtrar</button>
    </form>


    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Data de criação</th>
            <th scope="col">Status</th>
            <th scope="col">Data de vencimento</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
            {% for evento in eventos  %}
                <tr>
                    <td>{{ evento.pk }}</td>
                    <td>{{ evento.nome }}</td>
                    <td>{{ evento.descricao }}</td>
                    <td>{{ evento.created_at }}</td>
                    {% if evento.status == 'P' %}
                      <td class='badge text-bg-danger'>{{ evento.status }}</td>
                    {% elif evento.status == 'A' %}
                      <td class='badge text-bg-primary'>{{ evento.status }}</td>
                    {% elif evento.status == 'C' %}
                      <td class='badge text-bg-success'>{{ evento.status }}</td>

                    {% endif %}
                    
                    <td>{{ evento.data }}</td>
                    <td>
                        <a href="{% url 'edit_eventos' pk=evento.pk %}" class="btn btn-primary btn-sm">Editar</a>
                        <a href="{% url 'del_evento' pk=evento.pk %}" class="btn btn-danger btn-sm">Excluir</a>

                    </td>
                    
                </tr> 
            {% endfor %}        
        </tbody>
      </table>


{% endblock content %}